{% extends "../index.html" %}
{% block content %}
{% load static %}



<div class="hold-transition sidebar-mini" xmlns="http://www.w3.org/1999/html">
    <div class="content-wrapper">
      <section class="content-header">
      <div class="container-fluid">
        <div class="container p-1">
          <div class="col-sm-4">
            <h1>Fichas</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
      </section>
      <div  class="container p-1">
        <div><a type="button" class="fas fa-plus-circle"  href="/admin/Depilacion/depilacion/add" > Crear una nueva ficha</a></div>
        <br>
          {{status}}
        <form action="" method="POST" class="form-inline">{% csrf_token %}
                        <label>Paciente : </label>  &nbsp
                            <div class ="col-8">
                                            <select class="form-control form-control-sm-8 " name='paciente' id='paciente' required >
                                            <option value=""> Select type</option>
                                                {% for p in paciente %}
                                            <option codigo={{p.0}} value='{{p.0}}'>{{p.1}}</option>
                                                {% endfor %}
                                            </select>

                            <button class="btn btn-primary" type ="submit" >
                              <i class="fas fa-search fa-sm"></i>
                            </button>
                            </div>
        </form>
        <br>
            <!-- TABLE: LATEST ORDERS -->
            <div class="card ">
              <div class="card-header border-transparent">
                <h3 class="card-title">Fichas</h3> &nbsp &nbsp
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" >
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-1>
                <div class="table-responsive">
                  <table class="table table-bordered table-striped" id ='example3' name ='example3'>
                    <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Foto tipo</th>
                      <th>Paciente</th>
                      <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for l in fichas %}
                    <tr>
                      <td><i><strong>{{l.0}}</strong></i></td>
                      <td>{{l.1}}</td>
                      <td>{{l.2}}/{{l.3}}</td>
                      <td>
                        <a href="/admin/Depilacion/depilacion/{{l.4}}/change"><span class="badge badge-info">Detalle</span></a>
                      </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">

              </div>
              <!-- /.card-footer -->
            </div>

            <!-- /.card -->
      </div>

          <!-- /.col -->
      </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

{% endblock %}